# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Matches .scss files
[src/**/*.scss]
indent_style = space
indent_size = 2

# Matches .js files
[src/**/*.js]
indent_style = space
indent_size = 2

# Matches .hbs files
[src/**/*.hbs]
indent_style = space
indent_size = 2

# Matches Gruntfile.js files
[Gruntfile.js, .jshintrc, bower.json, package.json]
indent_style = space
indent_size = 2
