// Font weights
$light: 100;
$regular: 400;
$bold: 700;

// Base Font
$base-font-size: 16px;
$base-font-family: "IdealistSans-Light", Arial, sans-serif;
$base-font-weight: $light;
$base-line-height: 24px;
$base-font-color: #000;

// Alter Font
$alter-font-size: 10px;
$alter-font-family: Verdana, serif;
$alter-font-weight: $regular;
$alter-line-height: 16px;
$alter-font-color: #000;

//Breakpoints
$breakpoints: (smartphone: 0, tablet: 767, normal: 1023, large: 1280);

// Grid

$container: 1280px;
$column: 2%;
$gutter: 0;
$grid-columns: 12;
$max-width: 1280px;
$border-box-sizing: false;
$default-feature: min-width;
$default-layout-direction: LTR;
$disable-warnings: false;
$visual-grid: false;
$visual-grid-color: #eee;
$visual-grid-index: back;
$visual-grid-opacity: .4;
$column-class: "span_";
$push-class: "push_";
$pull-class: "pull_";
$last-class: "omega";

//Form
$paceholder-class: "placeholder";

//Helpers
$sizes: (xxs: .25, xs: .5, s: .75, n: 1, m: 1.5, l: 2, xl: 2.5, xxl: 3, xxxl: 4);
$directions: (t: top, r: right, b: bottom, l: left);
$horizontal-class: h;
$vertical-class: v;
