// Font weights
$light: 100;
$regular: 400;
$bold: 700;

// Base Font
$base-font-size: 16;
$base-font-family: Arial, sans-serif;
$base-font-weight: $regular;
$base-line-height: 24;

// Alter Font
$alter-font-size: 10;
$alter-font-family: Verdana, serif;
$alter-font-weight: $regular;
$alter-line-height: 16;
